h1 {
  color:#DC3D24;
  text-align:center;
}

body {
  background-color: #232B2B;
}

h2, h3, a, p {
  color:#DC3D24;
}

.namePost {
  background: #232B2B;
  border-radius: 10px;
  border-top: 1px solid #DC3D24;
  border-left: 1px solid #DC3D24;
  border-right: 1px solid #DC3D24;
}

.post {
  background: #232B2B;
  border-radius: 10px;
  border-left: 1px solid #DC3D24;
  border-right: 1px solid #DC3D24;
}

.legPost {
  background: #232B2B;
  border-radius: 10px;
  border-bottom: 1px solid #DC3D24;
}

.value {
  color:#DC3D24;
}

#container {
  width:1200px;
  margin:0 auto;
  border:1px solid #000;
}

.section {
  float:left;
  width:550px;
  height:550px;
  border:1px solid #000;
  margin:10px;
  text-align:center;
}

.list {
  float:left;
  width:550px;
  height:550px;
  margin:10px;
  text-align:center;
}

.subsection {
  float:left;
  width: 170px;
  height:350px;
  border:1px solid #000;
  margin:5px;
}

.clear {
  clear:both;
}

.radio {
}
